/*nav*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .sidenav a.active {
    background-color: darkgray;
  }
  .sidenav a:hover {
    color: #f1f1f1; 
  }
  
.sidenav .closebtn {
  position: absolute;
  top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.sidenav .language-select {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
/*header*/
header{
    background-color:#fff;
    display: flex; 
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
}
.logo{
  align-items: center;
  display: flex;
}
.name{
  font-size: larger;
  font-weight: 700;
  margin-right: 10px;
}
.logo img{
  width: 24px;
  height: 24px;
  float: right;
}
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.content-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
    overflow-y: auto;
    max-height: calc(100vh - 200px);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    text-align: left;
}

input, textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    resize: none;
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #ffd000;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color:#deb500;
}
h3{
    float: left;
}
.iframe-container {
    margin-top: 20px;
}